@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
	overflow:hidden;
}

body {
    background: #ff0000;
    animation-name: bg-colors;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function:linear;
}
@keyframes bg-colors{
	0%{background:#ff0000;}
	33%{background:#00ff00;}
	66%{background:#0000ff;}
	100%{background:#ff0000;}
}
#sec1{
	display:block;
	position:absolute;
	font-size:70px;
	top: 48%;
	color: #FFF;
	right: 105%;
	animation-name: sec1;
	animation-duration: 3s;
	animation-timing-function:linear;
	animation-iteration-count: infinite;
}
@keyframes sec1{
	from{right: 105%; transform:rotate(-30deg);}
	to{right: -35%;}
}